{% extends "base.html" %}
{% load static %}

{% block title %}Un bon choix de série{% endblock %}

{% block css %}
	{{ block.super}}
	<link rel="stylesheet" href="{% static "series/css/series.css" %}" type"text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static "series/js/banner.js" %}"></script>
{% endblock %}

{% block banner %}
	<div class="slideshow-container">
		<div class="slide fade">
		  <img src="{% static "series/pictures/house_banner.jpg" %}">
		</div>

		<div class="slide fade">
		  <img src="{% static "series/pictures/chicago_fire_banner.jpg" %}">
		</div>

		<div class="slide fade">
		  <img src="{% static "series/pictures/nip_tuck_banner.jpg" %}">
		</div>

		<div class="slide fade">
		  <img src="{% static "series/pictures/criminal_minds_banner.jpg" %}">
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="series">
		{% for serie in series %}
			<div class="serie">
				<a href="{{ serie.id }}"><img class="img"src="{{ serie.image.url }}" height="587" width="294" /></a>
				<h2><a class="title">{{ serie.title}}</a></h2>
				<p> {{ serie.description }} </p>
			</div>		
		{% endfor %}
	</div>
{% endblock %}